@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/fonts.module.css */
:root {
    --primary: #22365e;
    --primary-accent: #ffffff;
    --primary-accent-25: rgba(255, 255, 255, 0.25);
    --primary-invert: #CEDDFA;
    --primary-invert-25: rgba(206, 221, 250, 0.25);
    --secondary: #B4C4E4;
    --error: #D93E51;
    --golden: #FFB800;
    --primary-hover: #335599;
    --secondary-hover: #EEF3FE;
    --secondary-hover-10: rgba(238, 243, 254, 0.1);
    --nav-gradient: linear-gradient(0deg, #FFF 25.52%, rgba(255, 255, 255, 0.69) 60.94%, rgba(255, 255, 255, 0.00) 100%);
    --service-shadow: 0px 1657px 464px 0px rgba(238, 243, 254, 0.02), 0px 1060px 424px 0px rgba(238, 243, 254, 0.15), 0px 596px 358px 0px rgba(238, 243, 254, 0.50), 0px 265px 265px 0px rgba(238, 243, 254, 0.85), 0px 66px 146px 0px rgba(238, 243, 254, 0.98);
    --service-shadow-hover: 0px 1657px 464px 0px rgba(212, 221, 242, 0.02), 0px 1060px 424px 0px rgba(212, 221, 242, 0.15), 0px 596px 358px 0px rgba(212, 221, 242, 0.50), 0px 265px 265px 0px rgba(212, 221, 242, 0.85), 0px 66px 146px 0px rgba(212, 221, 242, 0.98);
    --service-fill: #ffffff;
    --testimonial-shadow: 0px 220px 62px 0px rgba(210, 221, 244, 0.01), 0px 141px 56px 0px rgba(210, 221, 244, 0.04), 0px 79px 48px 0px rgba(210, 221, 244, 0.14), 0px 35px 35px 0px rgba(210, 221, 244, 0.24), 0px 9px 19px 0px rgba(210, 221, 244, 0.27);
    --testimonial-shadow-hover: 0px 191px 53px 0px rgba(169, 185, 219, 0.01), 0px 122px 49px 0px rgba(169, 185, 219, 0.07), 0px 69px 41px 0px rgba(169, 185, 219, 0.22), 0px 31px 31px 0px rgba(169, 185, 219, 0.37), 0px 8px 17px 0px rgba(169, 185, 219, 0.43);
    --slide-spacing: 5rem;
    --slide-size: 65%;
    --frosted-shadow: 0px 35px 30px 0px #FFF;
    --frosted-gradient: linear-gradient(135deg, rgba(180, 196, 228, 0.025) 0%, rgba(180, 196, 228, 0.25) 100.04%);
    --frosted-gradient-hover: linear-gradient(135deg, rgba(180, 196, 228, 0.05) 0%, rgba(180, 196, 228, 0.50) 100.04%);
    --about-shadow: 0 0 2px var(--secondary);
    --noise-texture: url("/svgs/texture-light.svg");
    --texture-opacity: 35%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #CEDDFA;
        --primary-accent: #000714;
        --primary-accent-25: rgba(0, 7, 20, 0.25);
        --primary-invert: #22365e;
        --primary-invert-25: rgba(34, 54, 94, 0.25);
        --secondary: #4264A8;
        --error: #FF4A60;
        --golden: #FFB800;
        --primary-hover: #b4c9f3;
        --secondary-hover: #0E1930;
        --secondary-hover-10: rgba(14, 25, 48, 0.1);
        --nav-gradient: linear-gradient(0deg, #000714 25.52%, rgba(0, 7, 20, 0.69) 60.94%, rgba(0, 7, 20, 0.00) 100%);
        --service-shadow: 0px 1657px 464px 0px rgba(14, 25, 48, 0.02), 0px 1060px 424px 0px rgba(14, 25, 48, 0.15), 0px 596px 358px 0px rgba(14, 25, 48, 0.50), 0px 265px 265px 0px rgba(14, 25, 48, 0.85), 0px 66px 146px 0px rgba(14, 25, 48, 0.98);
        --service-shadow-hover: 0px 1657px 464px 0px rgba(26, 40, 71, 0.02), 0px 1060px 424px 0px rgba(26, 40, 71, 0.15), 0px 596px 358px 0px rgba(26, 40, 71, 0.50), 0px 265px 265px 0px rgba(26, 40, 71, 0.85), 0px 66px 146px 0px rgba(26, 40, 71, 0.98);
        --service-fill: #ffffff;
        --testimonial-shadow: 0px 220px 62px 0px rgba(15, 28, 51, 0.01), 0px 141px 56px 0px rgba(15, 28, 51, 0.06), 0px 79px 48px 0px rgba(15, 28, 51, 0.20), 0px 35px 35px 0px rgba(15, 28, 51, 0.35), 0px 9px 19px 0px rgba(15, 28, 51, 0.40);
        --testimonial-shadow-hover: 0px 191px 53px 0px rgba(35, 57, 97, 0.01), 0px 122px 49px 0px rgba(35, 57, 97, 0.05), 0px 69px 41px 0px rgba(35, 57, 97, 0.16), 0px 31px 31px 0px rgba(35, 57, 97, 0.27), 0px 8px 17px 0px rgba(35, 57, 97, 0.31);
        --frosted-shadow: 0px 35px 30px 0px #010815;
        --frosted-gradient: linear-gradient(135deg, rgba(66, 100, 168, 0.025) 0%, rgba(66, 100, 168, 0.25) 100.04%);
        --frosted-gradient-hover: linear-gradient(135deg, rgba(66, 100, 168, 0.05) 0%, rgba(66, 100, 168, 0.50) 100.04%);
        --about-shadow: 0 0 2px var(--secondary);
        --noise-texture: url("/svgs/texture.svg");
        --texture-opacity: 3%;
    }
}

html {
    scroll-behavior: smooth !important;
}

body {
    color: var(--primary);
    background: var(--primary-accent);;
    overflow-x: hidden;
}

.border-image-frosted-gradient {
    border-image: var(--frosted-gradient);
}

.border-image-frosted-gradient:hover {
    border-image: var(--frosted-gradient-hover);
}

.custom-text-stroke {
    filter: drop-shadow(-2px 0 0 var(--secondary-hover)) drop-shadow(2px 0 0 var(--secondary-hover)) drop-shadow(0 -2px 0 var(--secondary-hover)) drop-shadow(0 2px 0 var(--secondary-hover));
}

.custom-text-stroke-active {
    filter: drop-shadow(-2px 0 0 var(--secondary)) drop-shadow(2px 0 0 var(--secondary)) drop-shadow(0 -2px 0 var(--secondary)) drop-shadow(0 2px 0 var(--secondary));
}

body * {
    transition-duration: 250ms !important;
    transition-timing-function: ease-in-out;
}

.nav-bg {
    background: var(--nav-gradient);
    background-size: cover;
    will-change: transform !important;
}

.nav-bg > * {
    will-change: transform !important;
}

.embla * {
    transition-property: none;
}

.embla {
    max-width: 100vw;
    margin: auto;
    /*--slide-height: 300px;*/
}

.embla__viewport {
    overflow: visible;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
    /*flex-direction: row;*/
}

.embla__slide {
    display: flex;
    /*flex: 0 0 var(--slide-size);*/
    /*min-width: 0;*/
    padding-left: var(--slide-spacing);
}

.texture {
    background-image: var(--noise-texture) !important;
}


/* Set variable value for small screens */
@media (max-width: 640px) {
    :root {
        --slide-spacing: 2.5rem;
    }

    .custom-text-stroke {
        filter: drop-shadow(-1px 0 0 var(--secondary-hover)) drop-shadow(1px 0 0 var(--secondary-hover)) drop-shadow(0 -1px 0 var(--secondary-hover)) drop-shadow(0 1px 0 var(--secondary-hover));
    }

    .custom-text-stroke-active {
        filter: drop-shadow(-1px 0 0 var(--secondary)) drop-shadow(1px 0 0 var(--secondary)) drop-shadow(0 -1px 0 var(--secondary)) drop-shadow(0 1px 0 var(--secondary));
    }
}

/* Set variable value for small screens */
@media (min-width: 640px) {
    :root {
        --slide-spacing: 3rem;
    }

}

/* Set variable value for medium screens */
@media (min-width: 768px) {
    :root {
        --slide-spacing: 3.5rem;
    }

    .custom-text-stroke {
        filter: drop-shadow(-1.25px 0 0 var(--secondary-hover)) drop-shadow(1.25px 0 0 var(--secondary-hover)) drop-shadow(0 -1.25px 0 var(--secondary-hover)) drop-shadow(0 1.25px 0 var(--secondary-hover));
    }

    .custom-text-stroke-active {
        filter: drop-shadow(-1.25px 0 0 var(--secondary)) drop-shadow(1.25px 0 0 var(--secondary)) drop-shadow(0 -1.25px 0 var(--secondary)) drop-shadow(0 1.25px 0 var(--secondary));
    }
}

/* Set variable value for large screens */
@media (min-width: 1024px) {
    :root {
        --slide-spacing: 4rem;
    }

}

/* Set variable value for extra large screens */
@media (min-width: 1280px) {
    :root {
        --slide-spacing: 4.5rem;
    }

    .custom-text-stroke {
        filter: drop-shadow(-1.5px 0 0 var(--secondary-hover)) drop-shadow(1.5px 0 0 var(--secondary-hover)) drop-shadow(0 -1.5px 0 var(--secondary-hover)) drop-shadow(0 1.5px 0 var(--secondary-hover));
    }

    .custom-text-stroke-active {
        filter: drop-shadow(-1.5px 0 0 var(--secondary)) drop-shadow(1.5px 0 0 var(--secondary)) drop-shadow(0 -1.5px 0 var(--secondary)) drop-shadow(0 1.5px 0 var(--secondary));
    }
}

/* Set variable value for extra extra large screens */
@media (min-width: 1536px) {
    :root {
        --slide-spacing: 5rem;
    }
}
